<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /TRAVIS/

RewriteRule ^$ Web_app/public/landing.php [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([A-Za-z0-9_-]+\.php)$ Web_app/$1 [L,QSA]
</IfModule>
